/*

FONTS:

'Josefin Sans'
'Noto Serif'
'Dancing Script'

COLORS:

light tan: #eeebda

*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
	background-color: #F2F1E8;
	font-family: "Roboto", sans-serif;
	position: relative;
	margin: 0;
	min-height: 100%;



}


h1, h2, h3 {
	font-weight: bold;
	position: relative;
	text-align: center;
}





/*<!-- Submit button -->*/

label, input{
    display: block;
}



#submit{
    padding: 10px 15px;
    background: #968772;
    border: none;
    outline: none;
    margin: none;
    text-align: center;
    color: #F2F1E8;
}
#submit:hover{
    color: #967343;
}




.footer {
  position: inherit;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #F2F1E8;
  text-align: center;
}








/*body{
    font-family: 'Roboto';
    line-height: 1.8;
    margin: 0;
    background-color: #F2F1E8;
    width: 1024px;
    height: 800px;
}


}

.container {
    width: 980px;
    height: inherit;
    margin: 0;
    padding: 0;
    float: inherit;
}

.img {
  float:left;
}

}

h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}







body > div {
  display:flex;
  flex-direction: column;
  justify-content: center;
}


h1, h2, h3{
    font-family: "Roboto", sans-serif;
    margin-top: 0;

}


img{
    max-width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    font-size: 100%;
}


.wrapper{
    width: 1000px;
    display: flex;
    align-content: center;

}
  #site-header{
    display: inline-block;

}
  #site-header div{
      text-align: center;
      padding: 60px 0 120px 0;
      font-size: 4em;
      background-image: url(/Users/jerusmacbook/Documents/Projects/week-one-project/images/background-3.jpg);


      background-size: cover;
      background-position: right bottom;

}
  #site-header div h1,
  #site-header div h3{
      margin: 0;
      line-height: 1;
      position: relative;
}
  #site-header div h1{
      top: 20px;
}
  #site-header div h3{
      color: white;
      bottom: 20px;
      text-shadow: 0 5px 8px rgba( 0, 0, 0, 0.3 );
      font-family: "Dancing Script";

}
  #main-navigation{
      background: #444;
      display: flex;


}
    #main-navigation a{
        display: inline-flex;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
        flex-shrink: 0;
        justify-content: space-around;


}
      #main-navigation #logo{
          margin-right: 400px;
          flex-grow: 1;


}

  main{
            padding: 20px;
            background-color: #444;
            box-shadow: -5px 5px 8px rgba( 0, 0, 0, 0.3 );
}













/*#site-footer {
  background: #333;
  display: flex;
  color: white;
  flex-direction: column-reverse;
  width: 1000px;
  text-align: right;

}*/
